PORT=5000
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=huhhu
NODE_ENV=production
MONGODB_URI="mongodb://localhost:27017/vite-temp?authSource=admin"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback